* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.links {
  display: flex;
  padding-left: 80px;
}

li {
  list-style: none;
}

.nav ul {
  list-style: none;
  display: flex;
}

.nav {
  background-color: #ffb5a7;
  text-align: left;
  display: flex;
  padding-top: 10px;
  padding-bottom: 10px;
  padding: 15px
}

.nav-header {
  display: flex;
  font-size: 25px;
  margin-right: 900px;
  color: white;
  font-weight: 600;
}

.container {
  margin-top: 20px;
  background-color: #f8edeb;
  width: 325px;
  height: 325px;
  border-radius: 20px;
  padding: 15px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  float: left;
  margin-right: 20px;
  margin-left: 20px;
  align-items: center;
}

input {
  width: 200px;
  height: 25px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

textarea {
  width: 200px;
  height: 130px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

h2 {
  font-size: 20px;
  font-weight: 400;
}

button {
  align-self: center;
  width: 70px;
  height: 20px;
  border-radius: 20px;
  background-color: #ffb5a7;
  color: rgb(113, 113, 113);
  border-color: white;
  outline: none;
  cursor: pointer;
  border: none;
}

button:hover {
  width: 75px;
  height: 25px;
}

.add {
  margin-top: 10px;
}

.add-header {
  margin-bottom: 10px;
}

p {
  padding-top: 15px;
}

